.container {
  min-height: 100vh;
  background: #7d5fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  animation: fadeUp .5s ease-in-out forwards;
}

@keyframes fadeUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.content>h1 {
  color: #fafafa;
  font-size: 3rem;
}

.content>button {
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  border: 0;
  background: rgba(255, 255, 255, .1);
  font-weight: bold;
  color: #fafafa;
  cursor: pointer;
  transition: background .25s;
}

.content>button:hover {
  background: rgba(255, 255, 255, .3);
}

.row {
  display: flex;
  gap: 3rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.column span {
  font-size: 1.45rem;
  color: rgba(255, 255, 255, .95);
  ;
}

.circle {
  background: red;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fafafa;
}