.container {
  min-height: 100vh;
  background: #2d3436;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

.container > button {
  padding: 1rem 2rem;
  background: #c0392b;
  color: #fafafa;
  font-size: 1.45rem;
  letter-spacing: .05rem;
  font-weight: 500;
  border: 0;
  border-radius: .5rem;
  cursor: pointer;
  transition: background .25s;
  outline: none;
}

.container > button:hover {
  background: #e74c3c;
}

.doors {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}